# Compiled objects
obj/
*.o

# Executables and build output directories
bin/
test_asan
test_tsan
apiserver


# Backups and temporary files
*.backup/
*.bak
*~
.DS_Store
c*.md
C*.md

# Test directory artifacts
test/*
!test/Makefile
!test/validation-test.c
!test/test.sh
!test/concurrency-test.c

# Docs

issues*.md
async*.md
code*.md
.gemini/*
